#标题栏{
    background-color: rgb(59, 58, 58);
    color: white;
    text-align: center;
    top: 35px;
    width: 15%;
    float: left;
    left: 0%;
    height:8%;
    position: fixed;
    z-index: 1;
    display: block;
    animation: x1 1s;
    -webkit-animation:  x1 1s;
}
#侧边栏{
    background-color:rgb(59, 58, 58);
    left: 0;
    width: 15%;
    height: 100%;
    top: 0px;
    position: relative;
    animation: x1 1s;
    -webkit-animation:  x1 1s;
}
@keyframes x1 {
    0%{width: 0%;}
    100%{width: 15%;}
}
#侧边栏颜色遮盖{
    position: fixed;
    float: left;
    height: 100vh;
    width: 15%;
    background-color: rgb(59, 58, 58);
    animation: x1 1s;
    -webkit-animation:  x1 1s;
}
#菜单颜色{
    width: 15%;
    position :fixed;
    top: 150px;
    list-style-type:none;
    margin:0;
    padding:0;
    background-color:rgb(59, 58, 58);
    overflow:auto;
    animation: x1 1s;
    -webkit-animation:  x1 1s;
}
#菜单项{
    padding:8px 16px;
    display: block;
    background-color:rgb(59, 58, 58);
    text-decoration: none;
    text-align: center;
    white-space: pre;
    color:white;
    padding: 16px 8px;
    transition: background 400ms;
}
#菜单项:hover,菜单项:active{
    background-color:white;
    color:black;
}
#底栏{
    background-color: rgb(59, 58, 58);
    width: 100%;
    height: 40px;
    color: white;
    text-align: center;
    display: block;
    float: inherit;
}
#总背景{
    width: 100.8%;
    min-height: 100vh;
    margin: -8px;
}
#内容背景{
    position: relative;
    left: 20%;
    width: 70%;
    background-color: white;
    text-align: left;
    display: block;
    opacity: 1;
    animation: x2 1s;
    -webkit-animation:  x2 1s;
}
@keyframes x2 {
    0%{margin-top: 80px;}
    100%{margin-top: 0px;}
}
#进度{
    float: initial;
    background: rgb(255, 225, 190);
    width: 60px;
    height: 45px;
    display: none;
    animation: 移入显示 1s;
    -webkit-animation: 移入显示 1s;
}
@keyframes 移入显示{
    0%{width: 60px;height: 0px;}
    100%{width: 60px;height: 45px;}
}
#进度文本{
    margin: 0;
    text-align: center;
    padding-top: 15%;
}
#回到顶部定位{
    position: fixed;
    float: right;
    right: 8vh;
    bottom: 25vh;
    min-height: 120px;
}
#回到顶部{
    background-color: transparent;
    border-width: 30px;
    border-style: solid;
    border-color: transparent transparent  rgb(119, 119, 119) transparent;
    transition: border-color 1s;
    -webkit-transition: border-color 1s;
}
#回到顶部:hover{
    border-color: transparent transparent  rgb(0, 0, 0) transparent;
}
.文章列表{    
    background-color: white;
    position: relative;
    height: auto;
    top: 40px;
    left: 3%;
    width: 85%;
    margin-top: 25px;
    transition: border-left 0.5s, box-shadow 1s;
    float: left;
    padding: 5px;
    border: 0px 0px 30px solid white;
    box-shadow: 5px 5px 20px #e0dbdb;
    animation: 动画显示 1s;
    -webkit-animation: 动画显示 1s;
}
.文章列表:hover{
    border-left: 8px solid black;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.479);
}
@keyframes 动画显示{
    0%{top: 90px;opacity: 0;}
    100%{top: 40px;opacity: 1;}
}
.文章图片{
    float: left;
    left: 5%;
}
.文章标题{
    font-size: 140%;
    text-decoration: none;
    color: black;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
}
.文章标题:hover{
    color: rgb(117, 198, 251);
}
.日期{
    float: right;
    margin-top:-3px;
}
div.box
  {
  background-color: white;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 4px solid black;
  border-right: 1px solid black;
  padding:10px;
  margin:0px;
}
div.box-waring
  {
    background: white;
    width:100%;
    border-top: 1px solid rgb(240, 154, 154);
    border-bottom: 1px solid rgb(240, 154, 154);
    border-left: 4px solid rgb(240, 154, 154);
    border-right: 1px solid rgb(240, 154, 154);
    padding:10px;
    margin:0px;
}
div.文章边线{
    background-color: white;
    width: 80%;
    border-bottom: 1px solid black;
}
#右对齐菜单项{
    display:block;
    padding: 16px 8px;
    text-decoration: none;
    color:white;
    transition: background 300ms;
    text-align: center;
}
#右对齐菜单项:hover{
    background-color: white;
    color: black;
}
@media screen and (max-width: 768px)
{
    #总背景{
        width: 100%;
        height: auto;
    }
    #侧边栏{
        top: 0px;
        height: 50px;
        width: 100%;
        z-index: 1;
        animation: s1 1s;
        -webkit-animation: s1 1s;
    }
    @keyframes s1 {
        0%{height: 0%;}
        100%{height: 50px;}
    }
    #菜单颜色{
        display: none;
        top: 50px;
        float: left;
        width: 100%;
        height: auto;
        animation: none;
        -webkit-animation: none;
    }
    #菜单项{
        font-size: 16px;
    }
    #标题栏{
        animation: none;
        background-color: transparent;
        font-size: 12px;
        float: left;
        width: auto;
        height: auto;
        position: relative;
        top: 0px;
        left: 30vw;
        margin-top: -5px;
        padding: 0;
    }
    #显示菜单{
        background-color: rgb(59, 58, 58);
        color: white;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        position: relative;
        height: 10px;
        width: 23px;
        float: left;
        top: 17px;
        left: 10px;
    }
    #横杠{
        height: 0px;
        width: 23px;
        border-bottom: 3px solid white;
        position: relative;
        top: 3.5px;
    }
    #内容背景{
        width: 95%;
        min-height: 100vh;
        left: 0px;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 8%;
        animation: s2 1s;
        -webkit-animation: s2 1s;
    }
    @keyframes s2 {
        0%{margin-top: 25%;}
        100%{margin-top: 8%;}
    }
    #底栏{
        display: none;
    }
    .文章列表{
        width: 100%;
        border-bottom:  1px solid black;
        box-shadow: 0px 0px 0px 0px;
        left: 0;
    }
    .文章列表:hover{
        box-shadow: 0px 0px 0px 0px;
        border-left: 0;
    }
    .文章图片{
        display: none;
    }
    .文章标题{
        text-align: center;
    }
    .日期{
        display: none;
    }
    #回到顶部定位{
        right: 1vw;
    }
    div.box{
        width: 95%;
    }
    div.box-waring{
        width: 95%;
    }
}


